.contentM {
    padding: 5px;
    display: flex;
    gap: 10px;
  }
  .textM {
    font-size: 18px;
    color: #130063;
  }
  .checkbox1 {
    display: flex;
    gap: 10px;
  }
  @media only screen and (max-width: 769px){

  }
  @media only screen and (max-width: 376px){
  
  .box-p{
    display: flex;
    flex-wrap: wrap;
  }
}