.select {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
  }
  .button1 {
    background-color: #130063;
    color: white;
    border: none;
    width: 230px;
  }
  .button1:hover {
    opacity: 0.7;
  }
  .check {
    display: flex;
    height: 20px;
    justify-content: center;
  }
  .checkbox {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .radio2 {
    height: 20px;
    width: 20px;
  }
  .check-label {
    font-size: 18px;
    margin-left: 10px;
    margin-top: -5px;
    color: #848588;
  }
  .contentC3 {
    padding-top: 60px;
  }
  .contextC2 {
    display: flex;
    padding: 10px;
    gap: 10px;
    color: #130063;
  }
  .contentC4 {
    padding: 10px;
  }
  .textC1 {
    font-size: 16px;
    padding-bottom: 10px;
    color: #130063;
  }
  .modal-body{
    padding: 40px;
  }
  
  @media only screen and (max-width: 800px){
    .select {
      display: grid;
      grid-template-columns: auto;
      gap: 20px;
     
    }
  }
  @media only screen and (max-width: 400px){
    .checkbox{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .button1{
      width: 200px;
    }
  }