.box-signup {
    position: relative;
    width: 428px;
    left: 35%;
    
    background: linear-gradient(90deg, #f7f7fb 0%, #fafafa 100%);
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }
  .input{
    margin-left: 7%;
  }
  .container-signup {
    padding: 100px;
  }
  
  @media only screen and (max-width: 900px) {
    .box-signup {
      position: absolute;
      left: 10%;
    }
  }
  
  @media only screen and (max-width: 500px){
    .box-signup{
      width: 80%;
    }
  }